body, html {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    height: 100%; /* Set full height */
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top */
    min-height: 100%; /* Minimum height to be full viewport height */
    padding: 20px;
}

.image-container {
    margin-bottom: 20px;
    text-align: center;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /* Make the container take up the full width */
    gap: 20px;
}

textarea {
    width: 90%; /* Set the textarea width to 90% of its container */
    height: 400px;
    margin-top: 20px;
    resize: both; 
    background-color: var(--transparent-black);
}
input[type="file"] {
    background-color: var(--input-field-color);
    color: var(--input-text-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    width: auto; /* Adjust this to prevent full width */
    display: inline-block; /* Make it inline so it doesn't take the full width */
    margin-right: 10px; /* Add some margin if needed */
}
