/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-hover-color);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--button-color) var(--background-color);
}

/* Root container*/
.content-container {
    text-align: center;
    padding-top: 50px;
}

.title-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* This will center the image */
}

:root {
    --background-color: #2C3E50;  /* Dark Blue */
    --nav-background-color: hsl(210, 20%, 15%); /* 50% darker than --background-color */
    --text-color: #ECF0F1;       /* Off White */
    --input-field-color: #577593; /* Slightly Lighter Blue */
    --input-text-color: #ECF0F1; /* Off White */
    --button-color: #6683a0;     /* Red */
    --button-hover-color: #87aacc; /* Darker Red */
    --transparent-black: rgba(0, 0, 0, 0.5);
    --button-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Default shadow for buttons */
    --button-hover-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1); /* Increased shadow on hover */
}

nav {
    background-color: var(--nav-background-color);
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

nav li a:hover {
    background-color: var(--button-hover-color);
    color: var(--background-color);
    box-shadow: var(--button-hover-shadow);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    padding: 20px;
}
body, nav ul {
    margin: 0;
    padding: 0;
}


input[type="file"],
textarea {
    background-color: var(--input-field-color);
    color: var(--input-text-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: var(--button-shadow);
}

button:hover {
    background-color: var(--button-hover-color);
    box-shadow: var(--button-hover-shadow);
}

.home-button {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: var(--button-shadow);
    text-decoration: none;
    margin-bottom: 20px;
}


table {
    width: 20%;
    border-collapse: collapse;
    margin: 20px auto;  /* This will center the table horizontally */
}

table, th, td {
    border: 1px solid var(--nav-background-color);
}

th, td {
    padding: 10px;
    text-align: center;  /* This will center the content of the table cells */
    background-color: var(--input-field-color);
}

/* Adjust the width of the input fields inside the table */
table input {
    width: 60%;  /* Adjust this value as needed */
    display: block;
    margin: 0 auto;  /* This will center the input fields inside the table cells */
}

input[type="file"] {
    background-color: var(--input-field-color);
    color: var(--input-text-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    width: auto; /* Adjust this to prevent full width */
    display: inline-block; /* Make it inline so it doesn't take the full width */
    margin-right: 10px; /* Add some margin if needed */
}