/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: var(--button-shadow);
    font-size: 1.2em;
}

button:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
    box-shadow: var(--button-hover-shadow);
}

button:active {
    transform: translateY(0);
    box-shadow: var(--button-shadow);
}
